
.container{
    background-color: rgb(37, 116, 42);
    border: 3px solid ;
    padding: 19px;
    margin: 34px;
    border-radius: 3px;
}
.mug{
    background-color: rgb(116, 37, 112);
    border: 3px solid ;
    padding: 19px;
    margin: 34px;
    border-radius: 3px;

}